.author {
  color: inherit;
  cursor: pointer;
  display: block;
  margin: 8px 4;
  text-decoration: none;
}

.author:nth-child(odd) {
  background: #e5e5e5;
}

.author:nth-child(even) {
  background: #f5f5f5;
}

.author img {
  margin-right: 8px;
  width: 30px;
}
