.chartdiv {
  position:relative;
  background:lightgray;
  opacity:0.9;
  left:78%;
  top:0%;
  width:20%;
  height:1.5%;
  display:-webkit-flex;
  align-items: center;
  padding-top:1rem;
  /* border-top: 0.3rem solid lightgrey; */
  /* border-bottom: 1rem solid grey; */
}

.chartdiv:nth-child(even) {
  filter:brightness(1.1);
}

/* .chartdiv::after {
  position:absolute;
} */

.chartlist {
  position:relative;
  left:-5%;
}

.listpart {
  position:relative;
  /* height:0.5em; */
  font-size:0.8em;
  right:0%;
  list-style-type: none;
}

/* .listpart:nth-child(even) {
  background:grey;
} */

.size {
   background:darkblue;
  opacity: 0.8;
}

.number {
  -webkit-transform:translateY(-80%) translatex(7rem);
  font-size: 0.9em;
  position:relative;
}

/* chart {
  position: relative;
  top:95%;
  font-size:0.5em;
  right:0%;
  list-style-type: none;
}  */