.quote-box {
  background: #252525;
  color: #e5e5e5;
  display: flex;
  flex-wrap: wrap-reverse;
  margin: 20px 0;
  max-width: 1200px;
  padding: 25px;
}

.quote-box img {
  width: 100%;
}

@media (min-width: 800px) {
  .quote-box {
    flex-wrap: nowrap;
    margin: 40px;
    padding: 40px 60px;
  }

  .quote-box img {
    object-fit: contain;
    margin-right: 40px;
    width: auto;
  }
}
