.thumbnail {
  width:350px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin:0 15px;
  padding:0 15px  ;
  text-align: center;
  float:right;
}
