.thumbnail {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: auto;
  padding: 15px 15px 0;
  text-align: center;
}

@media (min-width: 800px) {
  .thumbnail {
    float:right;
    margin:0 15px;
    width:350px;
  }
}
