.small-quote .quote-text {
  margin: 0;
  font-size: 1em;
  font-style: italic;
}

.small-quote .quote-author {
  font-size: smaller;
}

.big-quote .quote-text {
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  font-size: 1.2em;
  font-weight: bold;
}

@media (min-width: 800px) {
  .big-quote .quote-text {
    font-size: 1em;
  }
}

.quote-box {
    position: absolute;
    top:15.8%;
    left:25%;
    width:55%;
    height:70%;
}

.big-quote .quote-author {
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: bold;
  display: block;
}

.big-quote .quote-author a {
  color: inherit;
  text-decoration: none;
}

.admin-actions {
  white-space: nowrap;
}

.edit-icon {
  display: inline-block;
  transform: rotateZ(90deg);
}
