.small-quote .quote-text::first-letter {
  font-size: 1.25em;
  color: darkred;
}

.small-quote .quote-author a {
  color: #888;
  text-decoration: none;
  font-style: italic;
}

.small-quote .quote-text {
  margin: 0;
}

.small-quote .quote-author {
  font-size: smaller;
}

.big-quote .quote-text {
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  font-size: 1.2em;
  font-weight: bold;
}

@media (min-width: 800px) {
  .big-quote .quote-text {
    font-size: 1.5em;
  }
}

.big-quote .quote-author {
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: bold;
  display: block;
}

.big-quote .quote-author a {
  color: inherit;
  text-decoration: none;
}

.icons {
  float: right;
  white-space: nowrap;
}

.edit-icon {
  display: inline-block;
  transform: rotateZ(90deg);
}
