.white_content {
  background-color: white;
  border: 2px solid rgb(46, 44, 40);
  color: black;
  display: block;
  height: 80%;
  left: 10%;
  overflow: auto;
  padding: 16px;
  position: fixed;
  top: 10%;
  width: 80%;
  z-index: 1002;
}

.black_overlay {
  background-color: black;
  display: block;
  height: 100%;
  left: 0%;
  opacity: .8;
  position: fixed;
  top: 0%;
  width: 100%;
  z-index: 1001;
}

@media (min-width: 800px) {
  .white_content {
    left: 25%;
    width: 50%;
  }
}
