header {
  display: flex;
  justify-content: space-between;
}

nav a,
.choose-lang label {
  display: block;
}

nav .active {
  font-weight: bold;
}

@media(min-width: 800px) {
  nav a,
  .choose-lang label {
    display: inline;
  }
  nav a {
    margin-right: 20px;
  }
  .choose-lang label {
    margin-left: 10px;
  }
}
