form{
    text-align: center;
    margin: 20px auto;
  
}
input , textarea{
     border:2px solid DarkOrange;
     outline:0;
     padding: 1em;
     border-radius:5px;
     display: block;
     margin-top: 1em;
     width: 70%;

}
textarea{
  max-height: 100px;
}

#submit{
     font-size:130%;
     margin-top: 10px;
     color:red;
     background:white;
     cursor: pointer;
   }

.center{
    text-align: center;
}