.App {
  padding: 20px;
}

footer {
  display: none;
}

@media (min-width: 1200px) {
  .App {
    display: flex;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
    padding: 0;
  }
  .main-section {
    order: 2;
    right: 0;
    width: 74%;
    /* grid to keep footer down */
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
  footer {
    display: block;
    padding-top: 20px;
  }
  .sidebar {
    width: 22%;
  }
}
