.App {
  margin-left: 2%;
  margin-top: 2%;
  display:flex;
  justify-content: space-between;
}

main {
  width: 74%;
  right: 0;
}

aside {
  width: 20%;
}

.lang-btn{
  font-size: 12px;
  margin: 0px 5px;
}
