.filters-inner {
  position:fixed;
  top: 0;
  bottom:0;
  overflow-y:scroll;
  overflow-x:hidden;
  padding-right: 2%;
  width: inherit;
}

.filters-inner div {
  cursor: pointer;
  margin: 8px 0;
}

.filters-inner div:nth-child(odd) {
  background: #e5e5e5;
}

.filters-inner div:nth-child(even) {
  background: #f5f5f5;
}

.filters-inner img {
  margin-right: 8px;
  width: 30px;
}

.filters-inner input,
.filters-inner button {
  font-size: inherit;
}

.filters-inner input {
  width: 100%;
}

.svi-autori {
  margin-bottom: 20px;
}
