.author-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author-wrap:nth-child(odd) {
  background: #e5e5e5;
}

.author-wrap:nth-child(even) {
  background: #f5f5f5;
}

.author {
  align-items: center;
  color: inherit;
  cursor: pointer;
  display: flex;
  margin: 8px 0;
  text-decoration: none;
}

.author img {
  margin-right: 8px;
  width: 30px;
}

.author-wrap label {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 40px;
  height: 40px;
}
