* {
  box-sizing: border-box;
}

.App {
  margin-left: 2%;
  display: flex;
  justify-content: space-between;
}

main {
  width: 74%;
  right: 0;
}

aside {
  width: 20%;
}
.langBtn{
  font-size: 12px;
  margin: 0px 5px;
}
.not{
  display: none;
}