* {
  box-sizing: border-box;
}

body {
  background-color: #fffbf1;
  background-image: url('assets/images/papir.png');
  background-repeat: no-repeat;
  color: #333;
  font-family: Book Antiqua, Palatino, Palatino Linotype, Palatino LT STD, Georgia, serif;
  font-size: 1.2em;
  letter-spacing: 0.5px;
  margin: 0;
  padding: 0;
}

h1, h2 {
  color: darkred;
}

img {
  max-width: 100%;
}

textarea {
  max-width: 100%;
}

button {
  cursor: pointer;
  padding: 2px 8px;
}

blockquote {
  margin-left: 0;
  margin-right: 0;
}

@media (min-width: 800px) {
  body {
    background-size: contain;
    line-height: 1.4;
  }
}

.no-link {
  color: inherit;
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

.red {
  color: red;
}

.hide-sm {
  display: none;
}

@media (min-width: 800px) {
  .hide-sm {
    display: block;
  }
}
