* {
  box-sizing: border-box;
}

body {
  background-color: #fffbf1;
  background-image: url('assets/images/papir.png');
  background-repeat: no-repeat;
  color: #333;
  font-family: 'BukyVede', 'sans serif';
  font-size: 1.25em;
  letter-spacing: 0.4px;
  margin: 0;
  padding: 0;
}

main {
  margin-bottom: 20px;
}

h1, h2 {
  color: darkred;
}

a {
  color: #4d6e14;
}

img {
  max-width: 100%;
}

input:not([type]), input[type="text"], textarea {
  color: black;
  width: 100%;
}

textarea {
  font-size: inherit;
}

button {
  cursor: pointer;
  padding: 4px 10px;
  margin: 1px;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

blockquote {
  margin-left: 0;
  margin-right: 0;
}

small {
  opacity: 0.9;
}

.no-link {
  color: inherit;
  text-decoration: none;
}

.no-button {
  background: transparent;
  border: 0;
}

.pointer {
  cursor: pointer;
}

.red {
  color: darkred;
}

.hide-sm {
  display: none;
}

@media (min-width: 800px) {
  body {
    background-size: contain;
    line-height: 1.4;
  }
  .hide-sm {
    display: block;
  }
}
